* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: max-content;
  width: 100vw;
  margin: auto;
  color: #333;
}

#main-content {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid #FFF;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  padding-top: 3rem;
}

header.header div.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

header.header div.title h1 {
  margin: 1rem 0;
}

header.header ol.types {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  gap: .5rem;
}

header.header ol.types .type {
  color: #FFF;
  padding: .5rem;
  font-size: .625rem;
  margin: .25rem 0;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(1.15);
  width: auto;
}

div.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
}

div.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: .8rem;
}

div.about-container {
  position: relative;
  background-color: #F6F7FC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .6rem;
  width: 100%;
  height: max-content;
  border-radius: 1rem;
  box-shadow: 5px 5px 3px rgba(0,0,0,.2);
  padding: 2rem;
  margin-bottom: 3rem;
}

div.about-container h3 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}

div.about-container hr {
  width: 90%;
  opacity: .3;
  margin: 0;
  margin-bottom: 1rem;
}

div.about-container p {
  font-size: 1rem;
  margin: 0;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: baseline;
  gap: .5rem;
}

div.about-container p span.item {
  color: #85878A;
  width: 100px;
}

div.about-container p span.ability {
  display: flex;
  flex-direction: column;
}

div.about-container p span.ability span {
  color: #333;
}

button.btn-home {
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  z-index: 1;
  background-color: #6C7ADC;
}

button.btn-home:hover {
  cursor: pointer;
  filter: brightness(.8);
}

@media screen and (min-width: 768px) {
  #main-content {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  #main-content {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  section.infos-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 576px) {
  button.btn-home {
    bottom: 2rem;
    right: 2rem;
  }
}

@media screen and (min-width: 576px) {
  header.header div.title h1 {
    font-size: 3rem;
  }

  header.header div.title span {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  header.header div.title h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 576px) {
  header.header ol.types .type {
    font-size: 1rem;
  }
}

@media screen and (min-width: 576px) {
  div.img-container img {
    max-width: 60%;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  div.img-container img {
    max-width: 60%;
  }
}

@media screen and (min-width: 576px) {
  div.about-container h3 {
    margin: 0;
    margin-bottom: 1rem;
  }

  div.about-container p {
    width: 80%;
  }

  div.about-container p span.item {
    width: 150px;
  }
}

@media screen and (min-width: 992px) {
  div.about-container {
    padding: 2rem;
  }

  div.about-container h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  div.about-container p {
    font-size: 1.2rem;
    justify-content: baseline;
    width: 60%;
  }
  
  div.about-container p span.item {
    width: 120px;
  }

  div.about-container p span.ability span {
    width: auto;
  }
}

@media screen and (min-width: 1440px) {
  div.about-container {
    padding: 3rem;
    margin: 0;
    gap: 1rem;
  }

  div.about-container h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  div.about-container hr {
    margin-bottom: 2rem;
  }

  div.about-container p {
    font-size: 1.5rem;
    gap: 5rem;
  }
  
  div.about-container p span.item {
    width: 200px;
  }
}
